<!-- TODO: Search
           Filtering Options -->

<form class="input-group">
  <input class="form-control" name="input" type="text" placeholder="{{location}}" [(ngModel)]="search.value" #value="ngModel" required/>
  <span class="input-group-btn">
    <button class="btn btn-secondary" type="submit" [disabled]="!search.value" (click)="submit(search.value)">Search</button>
  </span>
</form>

<br>

<h2 *ngIf="location">Results For: {{location}}</h2>
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<app-places *ngIf="places && !error" [places]="places"></app-places>