<div class="row">
  <div class="input-group col">
    <span class="input-group-addon">Filter</span>
    <input class="form-control" name="input" type="text" [(ngModel)]="filters.name" #name="ngModel" required/>
    <div class="input-group-btn" role="group"> 
        <ng-container *ngFor="let type of filters.type">
          <button type="button" class="btn" [ngClass]="active === type ? 'btn-primary' : 'btn-outline-primary'" (click)="sort(type)">{{type}}</button>
        </ng-container>
      </div>
  </div>
</div>

<div *ngFor="let place of places | searchFilter:filters.name | typeFilter:active">
  <div class="card mt-3">
    <div class="card-header">
      <div class="row">
        <h2 class="col-7">{{ place.name }}</h2>
        <div class="col-5 mr-auto text-right">
          <span *ngFor="let star of place.stars; let i = index"><i class="{{star}} fa-2x" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-5">
          <img class="img-thumbnail" src="{{place.image || './../../../assets/noimg.png'}}">
        </div>
        <div class="col-7 text-right">
          <span *ngFor="let line of place.address">
            {{ line }}<br>
          </span>
          <p>{{ place.phone.substr(3) }}</p>
        </div>
        <hr>
        <p class="col"><a href="{{ place.yelpUrl }}" target="_blank">{{ place.snippet }}</a></p>
      </div>
    </div>
    <div class="card-footer">
      <h4>{{ place.people }} Going
        <button *ngIf="!auth.loggedIn" class="btn btn-info float-right" disabled>Log In to Opt In</button>
        <button *ngIf="auth.loggedIn" class="btn float-right" [ngClass]="place.going ? 'btn-danger' : 'btn-success'" (click)="opting(place)" [disabled]="!auth.loggedIn">
            {{ place.going ? "I'm Out" : "I'm In" }}
        </button>
      </h4>
    </div>
  </div>
</div>
<br>
<h4 class="text-center" *ngIf="!(places | searchFilter:filters.name | typeFilter:active).length">
    No matches
</h4>
