body {
  background-color: #222;
  color: #EEE;
}

.content {
  min-height: 94vh;
  padding-bottom: 50px;
}

.maxheight {
  height: 200px;
}

.footer {
  position: relative;
  margin-top: -40px;
  height: 25px;
  padding: 5px;
}

button.nav-link {
  background: none;
  border: none;
}
